In [1]:
from network import *
from circuit_plot import *
import matplotlib.pyplot as plt
from simulate import Run
from shortcircuit import ShortCircuit as sc
from graph_tool_interface import Topology as Top
#create empty net
net = Network(new=True)
#create buses
bus1 = net.create_bus(vn_kv=20., name="Bus 1")
bus2 = net.create_bus(vn_kv=0.4, name="Bus 2")
bus3 = net.create_bus(vn_kv=0.4, name="Bus 3")

#create bus elements
net.create_ext_grid(bus=bus1, vm_pu=1.02, name="Grid Connection")
net.create_load(bus=bus3, p_mw=0.100, q_mvar=0.05, name="Load")

#create branch elements
trafo = net.create_transformer(hv_bus=bus1, lv_bus=bus2, std_type="0.4 MVA 20/0.4 kV", name="Trafo")
line = net.create_line(from_bus=bus2, to_bus=bus3, length_km=0.1, std_type="NAYY 4x50 SE", name="Line")

In [2]:
net.net.bus

    name  time  vn_kv type  zone  in_service
0  Bus 1   NaN   20.0    b  None        True
1  Bus 2   NaN    0.4    b  None        True
2  Bus 3   NaN    0.4    b  None        True

In [3]:
net.line

,name,time,std_type,from_bus,to_bus,length_km,r_ohm_per_km,x_ohm_per_km,c_nf_per_km,g_us_per_km,max_i_ka,df,parallel,type,in_service
0,Line,NaN,NAYY 4x50 SE,1,2,0.1,0.642,0.083,210.0,0.0,0.142,1.0,1,cs,True

In [4]:
net.load

,name,time,bus,p_mw,q_mvar,const_z_percent,const_i_percent,sn_mva,scaling,in_service,type
0,Load,NaN,2,0.1,0.05,0.0,0.0,NaN,1.0,True,None

In [5]:
Run(net)

In [6]:
net.net.res_bus

      vm_pu  time  va_degree      p_mw    q_mvar
0  1.020000   NaN   0.000000 -0.107265 -0.052675
1  1.008843   NaN  -0.760126  0.000000  0.000000
2  0.964431   NaN   0.115859  0.100000  0.050000

In [7]:
net.net.res_line

,p_from_mw,time,q_from_mvar,p_to_mw,q_to_mvar,pl_mw,ql_mvar,i_from_ka,i_to_ka,i_ka,vm_from_pu,va_from_degree,vm_to_pu,va_to_degree,loading_percent
0,0.105392,NaN,0.050696,-0.1,-0.05,0.005392,0.000696,0.167325,0.167326,0.167326,1.008843,-0.760126,0.964431,0.115859,117.835208

In [8]:
net.net.res_trafo

,p_hv_mw,time,q_hv_mvar,p_lv_mw,q_lv_mvar,pl_mw,ql_mvar,i_hv_ka,i_lv_ka,vm_hv_pu,va_hv_degree,vm_lv_pu,va_lv_degree,loading_percent
0,0.107265,NaN,0.052675,-0.105392,-0.050696,0.001873,0.001979,0.003382,0.167325,1.02,0.0,1.008843,-0.760126,29.289513

In [9]:
net.net.trafo.tap_pos.at[trafo] = -1
Run(net)

In [10]:
net.net.res_bus

      vm_pu  time  va_degree      p_mw    q_mvar
0  1.020000   NaN   0.000000 -0.107015 -0.052529
1  1.035301   NaN  -0.720245  0.000000  0.000000
2  0.992135   NaN   0.109513  0.100000  0.050000

In [11]:
net.create_switch(bus=bus3, element=line, et="l", closed=False)

0

In [12]:
Run(net)
net.net.res_bus

      vm_pu  time  va_degree      p_mw    q_mvar
0  1.020000   NaN   0.000000 -0.001477  0.000001
1  1.046129   NaN  -0.005637  0.000000  0.000000
2       NaN   NaN        NaN  0.000000  0.000000

In [13]:
net.net.res_load

   p_mw  time  q_mvar
0   0.0   NaN     0.0

In [14]:
top=Top(net)
top.unsupplied_buses()

{2}

In [15]:
net.switch.closed.at[0] = True
top.unsupplied_buses()

set()

In [16]:
mg = top.create_nxgraph(include_trafos=False)

In [17]:
list(top.connected_component(mg, 2))

[2, 1]

In [18]:
net.net.ext_grid["s_sc_max_mva"] = 100
net.net.ext_grid["rx_max"] = 0.1

In [19]:
sc(net).calc_sc(case="max", ip=True, r_fault_ohm=2.)

In [20]:
net.net.res_bus_sc

    ikss_ka     ip_ka
0  2.534707  4.317318
1  0.126631  0.182666
2  0.122698  0.176991